{% extends "auctions/layout.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'auctions/index_styles.css' %}">
{% endblock %}
{% block body %}
    <h2>{{ category }}</h2>
    
    {% for listing in listings %}
        <div class="listing">
            <div class="image">
                {% if listing.img_url != None %}
                    <img src="{{ listing.img_url }}" alt="{{ listing.title }}">
                {% else %}
                    <div>
                        Picture is not available.
                    </div>
                {% endif %}
            </div>
            <div class="details">
                <div class="title">
                    <a href="{% url 'listing' listing.id %}"><h2>{{ listing.title }}</h2></a>
                </div>
                <div class="description">
                    Description: {{ listing.description }}
                </div>
                {% if listing.status == True %}
                    <div class="price">
                        Price: ${{ listing.price }}
                    </div>
                {% else %}
                    <div class="price">
                        Last Price: ${{ listing.price }}
                    </div>
                {% endif %}
                <div class="category">
                    Category: {{ listing.category }}
                </div>
                <div class="time">
                    Create time: {{ listing.post_time }}
                </div>
                {% if listing.status == False %}
                    <div class="time">
                        Create time: {{ listing.closed_time }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <h3>No Listings in this category.</h3>
    {% endfor %}
    
{% endblock %}